body {
    font-family: $primary-font-family;
    color: $primary-color;
    background-color: $background-app-color;
}

.close-modal-button {
    cursor: pointer;
    padding: 0;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
    
    &:focus,
    &:active {
        outline: none;
    }
}

.highlight {
    background-color: #b8b79a;
}

.successMessage {
    color: #428a09;
}

.errorMessage {
    color: #bd0012;
}