@import '../../sass/partials/vme';

.instrumentsSection {
    padding: 25px 50px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: 15px;
    }
}

.sortSelect {
    width: 200px;
    cursor: pointer;
}

.addNewMovieBt,
.importMoviesBt {
    @extend %default-button;
    padding: 10px 15px;
    font-size: 16px;    
}