@import '../../sass/partials/vme';

.instrumentsSection {
    padding: 25px 50px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;    

    & > * {
        margin-bottom: 10px;
    }

    & > *:not(:first-child) {
        margin-left: 15px;
    }
}

.sortSelect {
    width: 200px;
    cursor: pointer;
}

.addNewMovieBt,
.importMoviesBt {
    @extend %default-button;
    padding: 10px 15px;
    font-size: 16px;    
}