@import '../../sass/partials/vme';


.conformator {
    position: absolute;
    top: -70px;
    right: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #e7e7e7;
    border-radius: 4px;
    border: 1px solid #bdc2c6;
        
    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        & > *:not(:last-child) {
            margin-right: 5px;
        }
    }

    p {
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .btAccept {
        @extend %primary-button;
    }
    
    .btCancel {
        @extend %default-button;
    }
}
